<html>
    <head>
        <title>Homepage</title>
        <link href="/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <Header>
            <h1>Homepage</h2>
        </Header>
        <nav>
            <ul>
                <li><a href="/api-docs">API Documentation</a></li>
                <li><a href="/me">Account</a></li>
            </ul>
        </nav>
        <main>
            This is the final project for group 4 in CSE 341
        </main>
        <footer>
            <span>
                &copy2023 KabutoDrip
            </span>
        </footer>
        <script src="scripts.js" async></script>
    </body>
</html>